<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>`get title`</title>
		<link rel="stylesheet" href="@{'/public/52framework/css/reset.css'}" type="text/css"  />
		<link rel="stylesheet" href="@{'/public/52framework/css/css3.css'}"  type="text/css" media="screen" />
		<link rel="stylesheet" href="@{'/public/52framework/css/general.css'}"  type="text/css" media="screen" />
		<link rel="stylesheet" href="@{'/public/52framework/css/grid1200.css'}" type="text/css" />

		<link rel="stylesheet" href="@{'/public/basic/css/bootstrap.css'}" type="text/css" />
		<link rel="stylesheet" href="@{'/public/52framework/css/wb3.css'}" type="text/css" />
		<!--[if (gte IE 6)&(lte IE 8)]>
		<script src="@{'/public/52framework/js/selectivizr.js'}"></script>
		<![endif]-->
		<script src="@{'/public/js/jquery-1.10.1.js'}"></script>
		<script src="@{'/public/js/jquery-migrate-1.2.1.js'}"></script>
		<script src="@{'/public/52framework/js/modernizr-1.7.min.js'}"></script><!-- this is the javascript allowing html5 to run in older browsers -->
		<script src="@{'/public/js/jquery-1.10.1.js'}"></script>
		<script src="@{'/public/js/jquery-migrate-1.2.1.js'}"></script>
		<script src="@{'/public/basic/js/bootstrap.js'}"></script>
		`get css`
	</head>



	<body>

		<div class="navbar navbar-inverse" >
			<div class="navbar-inner">
				<div class="row ">
					<div class="col  col_16">
						<a class="navbar-brand" href="#">时间</a>
						<div class="nav-collapse collapse navbar-inverse-collapse">
							<ul class="nav">
								<li class="active">
									<a href="#">照片</a>
								</li>
								<li>
									<a href="#">博客</a>
								</li>
								<li>
									<a href="#">Link</a>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li>
											<a href="#">Action</a>
										</li>
										<li>
											<a href="#">Another action</a>
										</li>
										<li>
											<a href="#">Something else here</a>
										</li>
										<li class="divider"></li>
										<li class="nav-header">
											Nav header
										</li>
										<li>
											<a href="#">Separated link</a>
										</li>
										<li>
											<a href="#">One more separated link</a>
										</li>
									</ul>
								</li>
							</ul>

							<div class="right">
								<ul class="nav">

									<li class="divider-vertical"></li>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li>
												<a href="#">Action</a>
											</li>
											<li>
												<a href="#">Another action</a>
											</li>
											<li>
												<a href="#">Something else here</a>
											</li>
											<li class="divider"></li>
											<li>
												<a href="#">Separated link</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>

							<div class="right">
								<button href="#" class="btn btn-sm btn-info">
									Link
								</button>
							</div>
							<div class="right">
								<form class="navbar-search pull-right" action="">
									<input type="text" class="search-query col-lg-2" placeholder="Search">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /navbar-inner -->
		</div><!-- /navprogress-bar -->
		<div class="row container">
			<div class="col col_16 nav_title">
				<ul class="nav nav-pills">
					<li class="active">
						<a href="#">Popular</a>
					</li>
					<li>
						<a href="#">recommendation</a>
					</li>
					<li>
						<a href="#">Follow</a>
					</li>
				</ul>
			</div>

		</div><!--
			<div class="page-header">
			<h3>`get header`</h3>
			</div> -->
`doLayout`
		<div class="row container">
			<div class="col width_4">
				<div class="photo_preview medium" id="photo_preview_preview_39189268">
					<a href="/photo_preview/39189268?from=popular"><img src="http://pcdn.500px.net/39189268/a26d91580c3c6f3aa6c4ff09564a752ced00b738/3.jpg" /></a>

					<div class="caption">
						<div class="info">
							<a href="/HuyTonthat">Huy Tonthat</a>
						</div>
						<div class="title">
							<a href="/photo_preview/39189268?feature=popular">A beautiful moment</a>
						</div>
						<div class="score rollover">
							99.8
						</div>
					</div>

				</div>
			</div>

			<div class="col width_4">
				<div class="photo_preview medium" id="photo_preview_preview_39183530">
					<a href="/photo_preview/39183530?from=popular"><img src="http://pcdn.500px.net/39183530/c61384fd22bc4fc088a6d3f8bbb78a5ea68dd735/3.jpg" /></a>

					<div class="caption">
						<div class="info">
							<a href="/matif">Atif Saeed</a>
						</div>
						<div class="title">
							<a href="/photo_preview/39183530?feature=popular">In yellow..</a>
						</div>
						<div class="score rollover">
							99.8
						</div>
					</div>

				</div>
			</div>

			<div class="col width_4">
				<div class="photo_preview medium" id="photo_preview_preview_39179372">
					<a href="/photo_preview/39179372?from=popular"><img src="http://pcdn.500px.net/39179372/a99419ecc15e01f3b64a97a95dfb41105ba94c93/3.jpg" /></a>

					<div class="caption">
						<div class="info">
							<a href="/xurxo">Jorge Cacharrón</a>
						</div>
						<div class="title">
							<a href="/photo_preview/39179372?feature=popular">Rincones 7</a>
						</div>
						<div class="score rollover">
							99.8
						</div>
					</div>

				</div>
			</div>

			<div class="col width_4">
				<div class="photo_preview medium" id="photo_preview_preview_39175598">
					<a href="/photo_preview/39175598?from=popular"><img src="http://pcdn.500px.net/39175598/0width_439520482da2b61b39fb8b55b2dec08eeda93c/3.jpg" /></a>

					<div class="caption">
						<div class="info">
							<a href="/ItamarCampos">Itamar Campos</a>
						</div>
						<div class="title">
							<a href="/photo_preview/39175598?feature=popular">Sleepless night!</a>
						</div>
						<div class="score rollover">
							99.8
						</div>
					</div>

				</div>
			</div>

			<div class="col width_4">
				<div class="photo_preview medium" id="photo_preview_preview_39186690">
					<a href="/photo_preview/39186690?from=popular"><img src="http://pcdn.500px.net/39186690/b675780c768ff92f9142138ff8617815eedfcadb/3.jpg" /></a>

					<div class="caption">
						<div class="info">
							<a href="/Patrice97434">THOMAS Patrice</a>
						</div>
						<div class="title">
							<a href="/photo_preview/39186690?feature=popular">In the forest!</a>
						</div>
						<div class="score rollover">
							99.7
						</div>
					</div>

				</div>
			</div>

			<div class="col width_4">
				<div class="photo_preview medium" id="photo_preview_preview_39177630">
					<a href="/photo_preview/39177630?from=popular"><img src="http://pcdn.500px.net/39177630/ca8a59462388d839cd3f93db7f049470acad209b/3.jpg" /></a>

					<div class="caption">
						<div class="info">
							<a href="/MaxRinaldi">Max Rinaldi</a>
						</div>
						<div class="title">
							<a href="/photo_preview/39177630?feature=popular">Soft Touch</a>
						</div>
						<div class="score rollover">
							99.7
						</div>
					</div>

				</div>
			</div>

			<div class="col width_4">
				<div class="photo_preview medium" id="photo_preview_preview_39175622">
					<a href="/photo_preview/39175622?from=popular"><img src="http://pcdn.500px.net/39175622/ff942249bfe7c7fa80eb3width_4d3a5e5d7684670877/3.jpg" /></a>

					<div class="caption">
						<div class="info">
							<a href="/BelenArgueso">Belén Argüeso Castelos</a>
						</div>
						<div class="title">
							<a href="/photo_preview/39175622?feature=popular">Moments....</a>
						</div>
						<div class="score rollover">
							99.7
						</div>
					</div>

				</div>
			</div>

			<div class="col width_4">
				<div class="photo_preview medium" id="photo_preview_preview_39167014">
					<a href="/photo_preview/39167014?from=popular"><img src="http://pcdn.500px.net/39167014/1c8b5a9b28943638332a51fc798ae283d9c55e90/3.jpg" /></a>
					<div class="caption">
						<div class="info">
							<a href="/ddumoulin">Denis Dumoulin</a>
						</div>
						<div class="title">
							<a href="/photo_preview/39167014?feature=popular">Martin le fier.</a>
						</div>
						<div class="score rollover">
							99.7
						</div>
					</div>

				</div>
			</div>
			<div class="col width_4">
				<div class="photo_preview photo_preview_4" id="photo_preview_preview_39167014">
					<a href="/photo_preview/39167014?from=popular"><img src="http://pcdn.500px.net/39167014/1c8b5a9b28943638332a51fc798ae283d9c55e90/3.jpg" /></a>
					<div class="caption">
						<div class="info">
							<a href="/ddumoulin">Denis Dumoulin</a>
						</div>
						<div class="title">
							<a href="/photo_preview/39167014?feature=popular">Martin le fier.</a>
						</div>
						<div class="score rollover">
							99.7
						</div>
					</div>

				</div>
			</div>

			<div class="col width_2">
				<div class="photo_preview photo_preview_2" id="photo_preview_preview_39167014">
					<a href="/photo_preview/39167014?from=popular"><img src="http://pcdn.500px.net/39167014/1c8b5a9b28943638332a51fc798ae283d9c55e90/3.jpg" /></a>
					<div class="caption">
						<div class="info">
							<a href="/ddumoulin">Denis Dumoulin</a>
						</div>
						<div class="title">
							<a href="/photo_preview/39167014?feature=popular">Martin le fier.</a>
						</div>
						<div class="score rollover">
							99.7
						</div>
					</div>

				</div>
			</div>
			<div class="col width_2">
				<div class="photo_preview photo_preview_2" id="photo_preview_preview_39167014">
					<a href="/photo_preview/39167014?from=popular"><img src="http://pcdn.500px.net/39167014/1c8b5a9b28943638332a51fc798ae283d9c55e90/3.jpg" /></a>
					<div class="caption">
						<div class="info">
							<a href="/ddumoulin">Denis Dumoulin</a>
						</div>
						<div class="title">
							<a href="/photo_preview/39167014?feature=popular">Martin le fier.</a>
						</div>
						<div class="score rollover">
							99.7
						</div>
					</div>

				</div>
			</div>
			<div class="col width_2">
				<div class="photo_preview photo_preview_2" id="photo_preview_preview_39167014">
					<a href="/photo_preview/39167014?from=popular"><img src="http://pcdn.500px.net/39167014/1c8b5a9b28943638332a51fc798ae283d9c55e90/3.jpg" /></a>
					<div class="caption">
						<div class="info">
							<a href="/ddumoulin">Denis Dumoulin</a>
						</div>
						<div class="title">
							<a href="/photo_preview/39167014?feature=popular">Martin le fier.</a>
						</div>
						<div class="score rollover">
							99.7
						</div>
					</div>

				</div>
			</div>
			<div class="col width_2">
				<div class="photo_preview photo_preview_2" id="photo_preview_preview_39167014">
					<a href="/photo_preview/39167014?from=popular"><img src="http://pcdn.500px.net/39167014/1c8b5a9b28943638332a51fc798ae283d9c55e90/3.jpg" /></a>
					<div class="caption">
						<div class="info">
							<a href="/ddumoulin">Denis Dumoulin</a>
						</div>
						<div class="title">
							<a href="/photo_preview/39167014?feature=popular">Martin le fier.</a>
						</div>
						<div class="score rollover">
							99.7
						</div>
					</div>

				</div>
			</div>
			<div class="col width_2">
				<div class="photo_preview photo_preview_2" id="photo_preview_preview_39167014">
					<a href="/photo_preview/39167014?from=popular"><img src="http://pcdn.500px.net/39167014/1c8b5a9b28943638332a51fc798ae283d9c55e90/3.jpg" /></a>
					<div class="caption">
						<div class="info">
							<a href="/ddumoulin">Denis Dumoulin</a>
						</div>
						<div class="title">
							<a href="/photo_preview/39167014?feature=popular">Martin le fier.</a>
						</div>
						<div class="score rollover">
							99.7
						</div>
					</div>

				</div>
			</div>
			<div class="col width_2">
				<div class="photo_preview photo_preview_2" id="photo_preview_preview_39167014">
					<a href="/photo_preview/39167014?from=popular"><img src="http://pcdn.500px.net/39167014/1c8b5a9b28943638332a51fc798ae283d9c55e90/3.jpg" /></a>
					<div class="caption">
						<div class="info">
							<a href="/ddumoulin">Denis Dumoulin</a>
						</div>
						<div class="title">
							<a href="/photo_preview/39167014?feature=popular">Martin le fier.</a>
						</div>
						<div class="score rollover">
							99.7
						</div>
					</div>

				</div>
			</div>
			<div class="col width_2">
				<div class="photo_preview photo_preview_2" id="photo_preview_preview_39167014">
					<a href="/photo_preview/39167014?from=popular"><img src="http://pcdn.500px.net/39167014/1c8b5a9b28943638332a51fc798ae283d9c55e90/3.jpg" /></a>
					<div class="caption">
						<div class="info">
							<a href="/ddumoulin">Denis Dumoulin</a>
						</div>
						<div class="title">
							<a href="/photo_preview/39167014?feature=popular">Martin le fier.</a>
						</div>
						<div class="score rollover">
							99.7
						</div>
					</div>

				</div>
			</div>
			<div class="col width_2">
				<div class="photo_preview photo_preview_2" id="photo_preview_preview_39167014">
					<a href="/photo_preview/39167014?from=popular"><img src="http://pcdn.500px.net/39167014/1c8b5a9b28943638332a51fc798ae283d9c55e90/3.jpg" /></a>
					<div class="caption">
						<div class="info">
							<a href="/ddumoulin">Denis Dumoulin</a>
						</div>
						<div class="title">
							<a href="/photo_preview/39167014?feature=popular">Martin le fier.</a>
						</div>
						<div class="score rollover">
							99.7
						</div>
					</div>

				</div>
			</div>
			<div class="col width_2">
				<div class="photo_preview photo_preview_2" id="photo_preview_preview_39167014">
					<a href="/photo_preview/39167014?from=popular"><img src="http://pcdn.500px.net/39167014/1c8b5a9b28943638332a51fc798ae283d9c55e90/3.jpg" /></a>
					<div class="caption">
						<div class="info">
							<a href="/ddumoulin">Denis Dumoulin</a>
						</div>
						<div class="title">
							<a href="/photo_preview/39167014?feature=popular">Martin le fier.</a>
						</div>
						<div class="score rollover">
							99.7
						</div>
					</div>

				</div>
			</div>

		</div>

		<footer>
			<div class="row">
				<div class="col col_16">
					fjdslfjsdl积分电流声开放的；是
				</div>
			</div><div class="clear"></div>

		</footer>
	</body>
</html>
